.logo {
  font-family: $boldFont;
  font-size: 18px;
  text-transform: uppercase;
}

.g-btn {
  display: inline-block;
  width: 100%;
  max-width: 270px;
  height: 50px;
  line-height: 50px;
  color: $mainColor;
  border: 2px solid $borderColor;
  text-align: center;
  font-size: 18px;
  font-family: $boldFont;
}
.section {
   position: relative;
   padding: 90px 0;
}

.section-title {
  position: relative;
  display: block;
  margin-bottom: 55px;
  font-size: 27px;
  font-family: $boldFont;
  text-align: center;
}

.section-text__big {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 33px;
  text-align: center;
}

.section-text__small {
  font-size: 16px;
  line-height: 26px;
}

.gray-bg {
  background-color: $grayBgColor
}

html {
  line-height: 1;
  font-size: 14px;
}

body {
  font-family: $mainFont;
  color:$mainColor;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

input,
select,
button {
  outline: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.show {
  display: block;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}


::selection {
   background: #b3d4fc;
  text-shadow: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.wrapper {
  overflow: hidden;
}

.container {
  position: relative;
  width: 97%;
  max-width: 1170px;
  margin: 0 auto;
}
