@import '../libs/normalize/normalize.css';
@import '../libs/slick/slick-theme.css';
@import '../libs/slick/slick.css';


.featured,
.clients,
.portfolio
  .bx-wrapper
    .bx-viewport {
       box-shadow: none;
      left: 0;
      border: none;
      background: none;
    }

