// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-quote-name: 's-quote';
$s-quote-x: 233px;
$s-quote-y: 61px;
$s-quote-offset-x: -233px;
$s-quote-offset-y: -61px;
$s-quote-width: 16px;
$s-quote-height: 16px;
$s-quote-total-width: 272px;
$s-quote-total-height: 217px;
$s-quote-image: 'sprite.png';
$s-quote: (233px, 61px, -233px, -61px, 16px, 16px, 272px, 217px, 'sprite.png', 's-quote', );
$s-team-lead-name: 's-team-lead';
$s-team-lead-x: 131px;
$s-team-lead-y: 0px;
$s-team-lead-offset-x: -131px;
$s-team-lead-offset-y: 0px;
$s-team-lead-width: 102px;
$s-team-lead-height: 109px;
$s-team-lead-total-width: 272px;
$s-team-lead-total-height: 217px;
$s-team-lead-image: 'sprite.png';
$s-team-lead: (131px, 0px, -131px, 0px, 102px, 109px, 272px, 217px, 'sprite.png', 's-team-lead', );
$s-team-manages-name: 's-team-manages';
$s-team-manages-x: 0px;
$s-team-manages-y: 0px;
$s-team-manages-offset-x: 0px;
$s-team-manages-offset-y: 0px;
$s-team-manages-width: 131px;
$s-team-manages-height: 109px;
$s-team-manages-total-width: 272px;
$s-team-manages-total-height: 217px;
$s-team-manages-image: 'sprite.png';
$s-team-manages: (0px, 0px, 0px, 0px, 131px, 109px, 272px, 217px, 'sprite.png', 's-team-manages', );
$s-team-master-name: 's-team-master';
$s-team-master-x: 0px;
$s-team-master-y: 109px;
$s-team-master-offset-x: 0px;
$s-team-master-offset-y: -109px;
$s-team-master-width: 102px;
$s-team-master-height: 108px;
$s-team-master-total-width: 272px;
$s-team-master-total-height: 217px;
$s-team-master-image: 'sprite.png';
$s-team-master: (0px, 109px, 0px, -109px, 102px, 108px, 272px, 217px, 'sprite.png', 's-team-master', );
$s-team-model-name: 's-team-model';
$s-team-model-x: 102px;
$s-team-model-y: 109px;
$s-team-model-offset-x: -102px;
$s-team-model-offset-y: -109px;
$s-team-model-width: 103px;
$s-team-model-height: 104px;
$s-team-model-total-width: 272px;
$s-team-model-total-height: 217px;
$s-team-model-image: 'sprite.png';
$s-team-model: (102px, 109px, -102px, -109px, 103px, 104px, 272px, 217px, 'sprite.png', 's-team-model', );
$s-twitter-name: 's-twitter';
$s-twitter-x: 233px;
$s-twitter-y: 39px;
$s-twitter-offset-x: -233px;
$s-twitter-offset-y: -39px;
$s-twitter-width: 27px;
$s-twitter-height: 22px;
$s-twitter-total-width: 272px;
$s-twitter-total-height: 217px;
$s-twitter-image: 'sprite.png';
$s-twitter: (233px, 39px, -233px, -39px, 27px, 22px, 272px, 217px, 'sprite.png', 's-twitter', );
$s-who-and-why-name: 's-who_and_why';
$s-who-and-why-x: 233px;
$s-who-and-why-y: 0px;
$s-who-and-why-offset-x: -233px;
$s-who-and-why-offset-y: 0px;
$s-who-and-why-width: 39px;
$s-who-and-why-height: 39px;
$s-who-and-why-total-width: 272px;
$s-who-and-why-total-height: 217px;
$s-who-and-why-image: 'sprite.png';
$s-who-and-why: (233px, 0px, -233px, 0px, 39px, 39px, 272px, 217px, 'sprite.png', 's-who_and_why', );
$spritesheet-width: 272px;
$spritesheet-height: 217px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-quote, $s-team-lead, $s-team-manages, $s-team-master, $s-team-model, $s-twitter, $s-who-and-why, );
$spritesheet: (272px, 217px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
