.advantages {
  text-align: center;
}

.advantages-item {
  position: relative;
  padding-top: 60px;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin: 0 3% 0;
  text-align: left;
}

.advantages-icon {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  margin-bottom: 25px;
}

.advantages-title {
  display: block;
  margin-bottom: 40px;
  font-size: 18px;
  font-family: $boldFont;
}
