header
  .header
    .logo.header-logo
      span Unicorn
    nav.header-nav
      ul.header-nav__list
        li
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Stories
        li
          a(href="#") Hello
