.advantages.gray-bg.section
  .container
    .advantages-item
      img(src="static/img/general/advantages/clock.png").advantages-icon
      span.advantages-title An Wow Feature
      p.section-text__small The gentlemen who rented the room would sometimes take their evening meal at home in the living.
    .advantages-item
      img(src="static/img/general/advantages/vector.png").advantages-icon
      span.advantages-title A Beautiful Feature
      p.section-text__small The gentlemen who rented the room would sometimes take their evening meal at home in the living.
    .advantages-item
      img(src="static/img/general/advantages/land_working.png").advantages-icon
      span.advantages-title An Amazing Feature
      p.section-text__small The gentlemen who rented the room would sometimes take their evening meal at home in the living.
