.clients.gray-bg.section
  .container
    span.section-title Clients
    .clients-slider
      .clients-slider__prev
      .clients-slider__next
      ul.js-clients__slider
        li
          img(src="static/img/content/clients/clients1.png")
        li
          img(src="static/img/content/clients/clients2.png")
        li
          img(src="static/img/content/clients/clients3.png")
        li
          img(src="static/img/content/clients/clients4.png")
        li
          img(src="static/img/content/clients/clients5.png")
        li
          img(src="static/img/content/clients/clients6.png")
        li
          img(src="static/img/content/clients/clients1.png")
        li
          img(src="static/img/content/clients/clients2.png")
        li
          img(src="static/img/content/clients/clients3.png")
        li
          img(src="static/img/content/clients/clients4.png")
        li
          img(src="static/img/content/clients/clients5.png")
        li
          img(src="static/img/content/clients/clients6.png")
